<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="geo-vector.ZPM">
    <Module>
      <Name>geo-vector</Name>
	  <Description>Use vectors geographic</Description> 
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="AG.PKG"/>
    </Module>
  </Document>
</Export>
